# Ignore all
*

# Unignore all with extensions (this combo ignores binaries for example)
!*.*

# Unignore all dirs
!*/

# ignore Session.vim

Session.vim

.gitsecret/keys/random_seed
!*.secret

devNotes.txtdev_notes.txt
